    <section class="display-devs">
        <section>
            <h1>Blame it on the developers</h1>
            <article class="developpers">
                <img src="/images/giovanni.png" alt="">
                <div class="devs-links">
                    <h3>GIOVANNI LITUMA</h3>
                    <a href="https://www.linkedin.com/in/giovanni-lituma/" class="linkedin">Linkedin</a>
                    <a href="https://github.com/giovannixdev" class="github">Github</a>
                </div>
            </article>

            <article class="developpers">
                <img src="/images/andy.png" alt="">
                <div class="devs-links">
                    <h3>ANDY SERVET JOUVE</h3>
                    <a href="https://www.linkedin.com/in/aservetjouve/" class="linkedin blue-hover">Linkedin</a>
                    <a href="https://github.com/aservetjouve" class="github">Github</a>
                </div>
            </article>
        </section>
        <img src="/images/devs-illustration.png" alt="">
    </section>