  <h1 style="color:azure;">Top Movie Rated</h1>
{{#each topMovieRated.results}}
  <h4 style="color:azure;">"{{this.title}}"</h4>
{{/each}}
  <h1 style="color:azure;">Top TV Rated</h1>
{{#each topTVRated.results}}
  <h4 style="color:azure;">"{{this.name}}"</h4>
{{/each}}