<section class="target_video">
  <video width=100% height=25% controls poster="https://d13ezvd6yrslxm.cloudfront.net/wp/wp-content/images/billandted-excellentadventure-phonebooth-cubicall.jpg">      
    <source src="https://imdb-video.media-imdb.com/vi2017377817/1434659607842-pgv4ql-1591713455370.mp4?Expires=1591976116&Signature=hwgGw~k~5qUrwSI5UT2kmY397Sd6onDYvzHM3Ey2-sPcgXAgeqhgSITEUZih1FUGLNRAD1sx5Y~BAl7VJv09SRTr6ZyrOjAyEXDpugVduBNHLoIo196Olj-c4k-WJUpiT0jsznwjZWOCdo2EDsqBHVRJLPwZBWyvPLbFLTddEc7kTAX~-AD8pz~SUzvf~0aqfsd0PhC0~yqEcwgjbUphN0z3uBe~1lrWo3oyAWldfOkFxW08nrV4JcrIV28q88jJMFRpXJPVSisM6j-qETEIio5POg12Klu2KVxIl-Jaf7x8ZNgk0blfYd4dX1hO-yg5pa1N9c7HRPmP6GM~8xvFEg__&Key-Pair-Id=APKAIFLZBVQZ24NQH3KA" type="video/mp4"> <!-- type="video/mp4" -->  
  </video>
</section>
<section class="first-section">
  <img src="/images/netflix-watch-everywhere.png" alt="watch everywhere">
  <div>
    <h2>Enjoy on your devices</h2>
    <p>Watch on Smart TV,s Playstation, Xbox, Chromecast, Apple TV,</p><br>
    <p>Smartphone, Tablet and many more.</p>
  </div>
</section>
<section class="first-section">
  <div>
    <h2>Enjoy on your devices</h2>
    <p>Watch on Smart TV,s Playstation, Xbox, Chromecast, Apple TV,</p><br>
    <p>Smartphone, Tablet and many more.</p>
  </div>
  <img src="/images/netflix-watch-everywhere.png" alt="watch everywhere">
</section>
<section class="second-section">
  <h2>Watch everywhere</h2>
  <img src="/images/watch-everywhere.jpg" alt="watch everywhere">
</section>
