<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moviehack</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <a href="{{movieLogo}}"><img src="https://assets.codepen.io/3166242/logoDarkMode.png" /></a>
        <nav>
            {{#if landingNav}}
                <a href="/signin" class="signin-button">Sign In</a>
                <a href="/signup" class="signup-button">Sign Up</a>
            {{/if}}
            {{#if signLabel}}
                <a href="{{signLabel.href}}" class="changing-button">{{signLabel.message}}</a>
            {{/if}}
            {{#if homeNav}}
                <div class="nav-bar">
                    <div class="right-side">
                        <a href="/home" class="menu-button">Home</a>
                        <a href="/movies" class="menu-button">Movies</a>
                        <a href="/tvshows" class="menu-button">TV Shows</a>
                        <a href="/list" class="menu-button">List</a>
                    </div>
                    <div class="right-side">
                        <a href="/" class="log-out-button">Log out</a>
                    </div>
                </div>
            {{/if}}
        </nav>
    </header>
    {{{body}}}
    {{#if footer}}
        <footer>
            <div class="logo"><img src="/images/logoDarkMode.png" alt=""></div>
            <section class="links">
                <div class="all-links">
                    <div>
                        <a href="/devs" class="hover">Audio</a>
                        <a href="/devs" class="hover">Jobs</a>
                    </div>
                    <div>
                        <a href="/devs" class="hover">Help</a>
                        <a href="devs" class="hover">Terms of Use</a>
                    </div>
                    <div>
                        <a href="devs" class="hover">Media Center</a>
                        <a href="devs" class="hover">Privacy/Cookies</a>
                    </div>
                    <div>
                        <a href="devs" class="hover">Investors Relations</a>
                    </div>
                </div>
                <a href="/devs" class="service-button hover">Servie Code</a>
            </section>
        </footer>
    {{/if}}

    <script src="/javascript/slide-in.js"></script>
</body>
</html>