@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);

/*=====GENERAL RULES=====*/

* {
    box-sizing: border-box;
}

/* video::-webkit-media-controls {
    display: none;
} */

/* iframe::-webkit-media-controls {
    display: none;
} */

body {
    font-family: 'Roboto';
    background-color: #000000;
}

h1, 
h2, 
h3 {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
}

/*=====COMPONENTS=====*/

header {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: flex-start;
    color: #FFFFFF;
    background-color: #000000;
    /* position: absolute; */
    z-index: 5;
}

nav {
    width: 80%;
    color: #FFFFFF;
    margin-top: 38px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

header img {
    width: 300px;
    height: 54px;
    margin-top: 25px;
    margin-left: 15px;
}

/*=====WELCOME PAGES=====*/

.signin-button {
    color: #E50914;
    margin-right: 50px;
    margin-top: 8px;
}

.signup-button {
    padding: 8px;
    background-color: #E50914;
    border-radius: 10px;
}


.form-bg {
    height: 100vh;
    margin-top: -110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.signin-bg {
    background-image: url("https://assets.codepen.io/3166242/sign-in.jpg");
    background-size: cover;
    --bg-form-color : rgba(0, 0, 0, .55);
}

.signup-bg {
    background-image: url("https://assets.codepen.io/3166242/sign-up.jpeg");
    background-size: cover;
    --bg-form-color : rgba(0, 0, 0, 0.20);
}


.sign-form {
    height: 500px;
    width: 400px;
    background-color: var(--bg-form-color);
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.sign-form legend {
    width: 300px;
    font-size: 40px;
    color: #FFFFFF;
    text-align: left;
}

.sign-form input {
    height: 57px;
    width: 300px;
    background-color: #666666;
    font-size: 25px;
    color: #999999;
    border-radius: 12px;
    border-style: none;
    text-indent: 20px;
}

.sign-form ::placeholder {
    color: #999999;
}

.sign-form button {
    height: 57px;
    width: 300px;
    color: #FFFFFF;
    background-color: #E50914;
    font-size: 1.2em;
    border-radius: 12px;
    border-style: none;
    transition: 5s font-size;
}

.sign-form button:hover{
    font-size: 1.6em;
}

.error {
    background-color: #E50914;
    width: 20%;
    color: #FFFFFF;
    padding: 8px;
    font-size: 2vh;
    position: absolute;
}

/*=====MENU=====*/
.nav-bar{
    width: 92%;
    display: flex;
}

.nav-bar a:hover{
    color: #999999;
}

.menu-button {
    margin-right: 25px;
}

.log-out-button {
    color: #E50914;
}

/* iframe {
    margin-top: 100px;
    width: 100%;
    height: 700px;
} */

.container {
    display: flex;
    overflow-x: auto;
}

.poster{
    margin: 10px 10px 30px 0px;
}

::-webkit-scrollbar {
    background-color: #000000;
    height: 5px;
    width: 0px; 
}

::-webkit-scrollbar-thumb{
    background-color: #E50914;
    border-radius: 5px; 
}

/*=====INFO=====*/

.info-container {
    display: flex;
}

.info-content {
    width: 50%;
}

.info-content h3 {
    margin-left: 0;
}

.add-list-button {
    padding: 8px;
    font-size: 20px;
    background-color: #E50914;
    border: none;
    border-radius: 8px;
}



/*=====FOOTER=====*/

footer{
    display: flex;
    align-items: flex-start;
}

footer img{
    width: 200px;
}

.logo{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.links {
    background-color: #151515;
    width: 60%;
    height: 200px;
}

.all-links {
    display: flex;
    margin-top:50px;
    margin-left: 20px;
}

.all-links a{
    margin-bottom: 20px;
}

.all-links div {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.service-button {
    border: 1px solid white;
    padding: 8px 30px;
    margin-left: 20px;
}

.hover:hover{
    color: #666666;
    border-color: #666666;
}

/*=====DEVS=====*/

.display-devs {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.display-devs h1{
    margin-top: 0; 
    font-size: 40px;
    text-transform: uppercase;
}

.developpers {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.devs-links {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.devs-links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

.linkedin:hover {
    color: blue;
}

.github:hover {
    color: red;
}
